@using SakhtKhaneh.Models.Template.ViewModels;

@model ContactDataViewModel;

@{
    ViewData["Title"] = "تماس با ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content -->
<div class="content-wrapper">

    <!-- Lines -->
    <section class="content-lines-wrapper">
        <div class="content-lines-inner">
            <div class="content-lines"></div>
        </div>
    </section>
    <!-- Header Banner -->
    <section class="banner-header banner-img valign bg-img bg-fixed" data-overlay-darkgray="5" data-background="/assets/img/banner.jpg"> </section>

    <!-- Contact -->
    <section class="section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 animate-box" data-animate-effect="fadeInUp">
                    <h2 class="section-title">تماس با <span>ما</span></h2>
                </div>
            </div>
            <div class="row mb-90">
                <div class="col-lg-6 col-md-12 mb-30 animate-box" data-animate-effect="fadeInUp">
                    <p><b>اطلاعات تماس</b></p>
                    <p><b>شماره تماس :</b> @Model.Phone</p>
                    <p><b>آدرس ایمیل :</b> @Model.Email</p>
                    <p><b>نشانی :</b> @Model.Address</p>
                </div>
                <div class="col-lg-6 col-md-12 animate-box" data-animate-effect="fadeInUp">
                    <p><b>Contact Form</b></p>
                    <form method="post" class="contact__form" action="https://duruthemes.com/demo/html/bauen/fullscreen-multipage-dark/mail.php">
                        <!-- Form message -->
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-success contact__msg" style="display: none" role="alert"> پیام شما با موفقیت ارسال گردید. </div>
                            </div>
                        </div>
                        <!-- Form elements -->
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input name="name" type="text" placeholder="نام *" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <input name="email" type="email" placeholder="آدرس ایمیل *" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <input name="phone" type="text" placeholder="شماره تماس *" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <input name="subject" type="text" placeholder="موضوع *" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <textarea name="message" id="message" cols="30" rows="4" placeholder="متن پیام *" required></textarea>
                            </div>
                            <div class="col-md-12">
                                <input name="submit" type="submit" value="ارسال پیام">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Map Section -->
            <div class="row">
                <div class="col-md-12 mb-30 animate-box" data-animate-effect="fadeInUp">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13419.040333881774!2d-79.93218134282569!3d32.77209999120473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88fe7a1ae84ff639%3A0xe5c782f71924a526!2s24%20King%20St%2C%20Charleston%2C%20SC%2029401%2C%20Amerika%20Birle%C5%9Fik%20Devletleri!5e0!3m2!1str!2str!4v1635894790855!5m2!1str!2str" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" class="map"></iframe>
                </div>
            </div>
        </div>
    </section>


</div>



@section Scripts{
    <script src="/assets/js/modernizr-2.6.2.min.js"></script>
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/jquery.isotope.v3.0.2.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/scrollIt.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.stellar.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.js"></script>
    <script src="/assets/js/YouTubePopUp.js"></script>
    <script src="/assets/js/before-after.js"></script>
    <script src="/assets/js/vegas.slider.min.js"></script>
    <script src="/assets/js/home.js"></script>
}