@using SakhtKhaneh.Models.Template.ViewModels;

@model ContactDataViewModel;

<!-- Footer -->
<footer class="main-footer dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-30">
                <div class="item fotcont">
                    <div class="fothead">
                        <h6>شماره تلفن</h6>
                    </div>
                    <p>@Model.Phone</p>
                </div>
            </div>
            <div class="col-md-4 mb-30">
                <div class="item fotcont">
                    <div class="fothead">
                        <h6>آدرس ایمیل</h6>
                    </div>
                    <p>@Model.Email</p>
                </div>
            </div>
            <div class="col-md-4 mb-30">
                <div class="item fotcont">
                    <div class="fothead">
                        <h6>نشانی</h6>
                    </div>
                    <p>@Model.Address</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                
                <div class="col-12 abot">
                    <div class="social-icon">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="text-center">
                        <p>©@DateTime.Now.Year تمامی حقوق مادی و معنوی محفوظ است.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>