.profile-option-button {
  width: 40px;
  height: 40px;
  margin: 2.5px;
}

.add-new-project-button {
  padding: 27px 25px;
}

.mobile-horizontal-scroll {
  overflow-x: hidden;
}

@media only screen and (max-width: 991px) {
  .add-new-project-button {
    padding: 27px 5px;
    font-size: 12px;
  }

  .mobile-horizontal-scroll {
    overflow-x: auto;
  }
}
