<mat-sidenav-container class="layout-container">

  <mat-sidenav-content>

    <mat-toolbar color="primary" class="main-header">
      <!-- Burger Menu -->
      <button mat-icon-button (click)="drawer.toggle()" class="menu-btn">
        <mat-icon>menu</mat-icon>
      </button>
      <span>پنل مدیریت</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <mat-sidenav #drawer [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" position="end" dir="rtl" class="sidebar">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <main class="content-wrapper">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>
