mat-sidenav.sidebar {
  width: 260px;
  background: #ddd;
  border-left: 1px solid #ddd;
  position:fixed !important;
  right:0 !important;
  top:64px;
}

.sidebar .menu .menu-item span{
    font-size:14px;
    font-weight:500;
}

  .sidebar .mat-expansion-panel, .sidebar .mat-expansion-panel-header {
    border-radius: 0 !important;
  }

.mat-expansion-panel .mat-expansion-panel-header span,.submenu .submenu-item span {
  font-family: "Vazirmatn", sans-serif !important;
  font-size:14px;
  font-weight:500;
}

.sidebar .mat-expansion-panel-header {
  padding: 0 15px !important;
}

  .sidebar .mat-expansion-panel-header span{
      min-height:35px !important;
      line-height:35px !important;
      font-size:14px;
      font-weight:500;
  }

  .mat-expansion-panel-body {
    padding: 0 !important;
  }

.menu {
  padding: 0px;
}

.menu-item, .submenu-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
  border-right: 4px solid transparent;
  transition: 0.2s;
}

  .menu-item.active, .submenu-item.active {
    border-right: 4px solid #3f51b5;
    background: #f4f6ff;
    border-top:1px solid #dedede;
  }

  .sidebar mat-icon {
    margin: 5px;
  }

.submenu {
  padding-left: 0px;
  background: #dedede;
}

.mat-mdc-list-item {
  border-radius: 0 !important;
}

  .mat-mdc-list-item .mdc-list-item__content {
    border-radius: 0 !important;
  }

  .mat-mdc-list-item .mdc-list-item__primary-text {
    border-radius: 0 !important;
  }
