<div class="menu">
  <ng-container *ngFor="let item of menu">
    <!-- آیتم بدون زیرمنو -->
    <div *ngIf="!item.children"
         class="menu-item"
         [class.active]="isActive(item.route)"
         (click)="navigate(item.route)">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span>{{ item.title }}</span>
    </div>

    <!-- آیتم با زیرمنو -->
    <mat-expansion-panel *ngIf="item.children">
      <mat-expansion-panel-header>
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.title }}</span>
      </mat-expansion-panel-header>

      <div class="submenu">
        <div *ngFor="let child of item.children"
             class="submenu-item"
             [class.active]="isActive(child.route)"
             (click)="navigate(child.route)">
          <span>{{ child.title }}</span>
        </div>
      </div>
    </mat-expansion-panel>
  </ng-container>
</div>
