mat-sidenav {
  width: 260px;
  background: #fff;
  border-left: 1px solid #ddd;
  padding-top:55px !important;
}

  .sidebar .mat-expansion-panel, .sidebar .mat-expansion-panel-header {
    border-radius: 0 !important;
  }

.mat-expansion-panel .mat-expansion-panel-header span {
  font-family: "Vazirmatn", sans-serif !important;
}

.menu {
  padding: 0px;
}

.menu-item, .submenu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-right: 4px solid transparent;
  transition: 0.2s;
}

  .menu-item.active, .submenu-item.active {
    border-right: 4px solid #3f51b5;
    background: #f4f6ff;
  }

  .menu-item mat-icon {
    margin-left: 10px;
  }

.submenu {
  padding-left: 20px;
  background: #dedede;
}

.mat-mdc-list-item {
  border-radius: 0 !important;
}

  .mat-mdc-list-item .mdc-list-item__content {
    border-radius: 0 !important;
  }

  .mat-mdc-list-item .mdc-list-item__primary-text {
    border-radius: 0 !important;
  }
